

    @define-color background #16130b;

    @define-color error #ffb4ab;

    @define-color error_container #93000a;

    @define-color inverse_on_surface #343027;

    @define-color inverse_primary #735c0c;

    @define-color inverse_surface #eae1d4;

    @define-color on_background #eae1d4;

    @define-color on_error #690005;

    @define-color on_error_container #ffdad6;

    @define-color on_primary #3d2f00;

    @define-color on_primary_container #ffe08c;

    @define-color on_primary_fixed #241a00;

    @define-color on_primary_fixed_variant #584400;

    @define-color on_secondary #392f15;

    @define-color on_secondary_container #f2e1bb;

    @define-color on_secondary_fixed #231b04;

    @define-color on_secondary_fixed_variant #50462a;

    @define-color on_surface #eae1d4;

    @define-color on_surface_variant #cfc5b4;

    @define-color on_tertiary #19361f;

    @define-color on_tertiary_container #c8ecc9;

    @define-color on_tertiary_fixed #03210b;

    @define-color on_tertiary_fixed_variant #304d34;

    @define-color outline #989080;

    @define-color outline_variant #4c4639;

    @define-color primary #e3c36c;

    @define-color primary_container #584400;

    @define-color primary_fixed #ffe08c;

    @define-color primary_fixed_dim #e3c36c;

    @define-color scrim #000000;

    @define-color secondary #d5c5a1;

    @define-color secondary_container #50462a;

    @define-color secondary_fixed #f2e1bb;

    @define-color secondary_fixed_dim #d5c5a1;

    @define-color shadow #000000;

    @define-color source_color #dacaa5;

    @define-color surface #16130b;

    @define-color surface_bright #3d392f;

    @define-color surface_container #231f17;

    @define-color surface_container_high #2d2a21;

    @define-color surface_container_highest #39342b;

    @define-color surface_container_low #1f1b13;

    @define-color surface_container_lowest #110e07;

    @define-color surface_dim #16130b;

    @define-color surface_tint #e3c36c;

    @define-color surface_variant #4c4639;

    @define-color tertiary #adcfae;

    @define-color tertiary_container #304d34;

    @define-color tertiary_fixed #c8ecc9;

    @define-color tertiary_fixed_dim #adcfae;
