* {
  
    background: #0f1417;
  
    error: #ffb4ab;
  
    error-container: #93000a;
  
    inverse-on-surface: #2c3134;
  
    inverse-primary: #126682;
  
    inverse-surface: #dfe3e7;
  
    on-background: #dfe3e7;
  
    on-error: #690005;
  
    on-error-container: #ffdad6;
  
    on-primary: #003546;
  
    on-primary-container: #bee9ff;
  
    on-primary-fixed: #001f2a;
  
    on-primary-fixed-variant: #004d64;
  
    on-secondary: #1f333c;
  
    on-secondary-container: #d0e6f2;
  
    on-secondary-fixed: #081e27;
  
    on-secondary-fixed-variant: #354a54;
  
    on-surface: #dfe3e7;
  
    on-surface-variant: #c0c8cd;
  
    on-tertiary: #2f2d4d;
  
    on-tertiary-container: #e3dfff;
  
    on-tertiary-fixed: #1a1836;
  
    on-tertiary-fixed-variant: #454364;
  
    outline: #8a9297;
  
    outline-variant: #40484c;
  
    primary: #8bd0f0;
  
    primary-container: #004d64;
  
    primary-fixed: #bee9ff;
  
    primary-fixed-dim: #8bd0f0;
  
    scrim: #000000;
  
    secondary: #b4cad6;
  
    secondary-container: #354a54;
  
    secondary-fixed: #d0e6f2;
  
    secondary-fixed-dim: #b4cad6;
  
    shadow: #000000;
  
    source-color: #3a6274;
  
    surface: #0f1417;
  
    surface-bright: #353a3d;
  
    surface-container: #1b2023;
  
    surface-container-high: #262b2e;
  
    surface-container-highest: #303538;
  
    surface-container-low: #171c1f;
  
    surface-container-lowest: #0a0f11;
  
    surface-dim: #0f1417;
  
    surface-tint: #8bd0f0;
  
    surface-variant: #40484c;
  
    tertiary: #c6c2ea;
  
    tertiary-container: #454364;
  
    tertiary-fixed: #e3dfff;
  
    tertiary-fixed-dim: #c6c2ea;
  
}