* {
  
    background: #151218;
  
    error: #ffb4ab;
  
    error-container: #93000a;
  
    inverse-on-surface: #322f35;
  
    inverse-primary: #6b538c;
  
    inverse-surface: #e7e0e8;
  
    on-background: #e7e0e8;
  
    on-error: #690005;
  
    on-error-container: #ffdad6;
  
    on-primary: #3b255b;
  
    on-primary-container: #eddcff;
  
    on-primary-fixed: #250e44;
  
    on-primary-fixed-variant: #523c73;
  
    on-secondary: #352d40;
  
    on-secondary-container: #ebddf7;
  
    on-secondary-fixed: #20182a;
  
    on-secondary-fixed-variant: #4c4357;
  
    on-surface: #e7e0e8;
  
    on-surface-variant: #cbc4cf;
  
    on-tertiary: #4b252e;
  
    on-tertiary-container: #ffd9df;
  
    on-tertiary-fixed: #321019;
  
    on-tertiary-fixed-variant: #653b44;
  
    outline: #958e99;
  
    outline-variant: #4a454e;
  
    primary: #d6bbfb;
  
    primary-container: #523c73;
  
    primary-fixed: #eddcff;
  
    primary-fixed-dim: #d6bbfb;
  
    scrim: #000000;
  
    secondary: #cec2da;
  
    secondary-container: #4c4357;
  
    secondary-fixed: #ebddf7;
  
    secondary-fixed-dim: #cec2da;
  
    shadow: #000000;
  
    source-color: #5e4a7b;
  
    surface: #151218;
  
    surface-bright: #3b383e;
  
    surface-container: #211e24;
  
    surface-container-high: #2c292f;
  
    surface-container-highest: #37333a;
  
    surface-container-low: #1d1a20;
  
    surface-container-lowest: #100d12;
  
    surface-dim: #151218;
  
    surface-tint: #d6bbfb;
  
    surface-variant: #4a454e;
  
    tertiary: #f2b7c2;
  
    tertiary-container: #653b44;
  
    tertiary-fixed: #ffd9df;
  
    tertiary-fixed-dim: #f2b7c2;
  
}