* {
  
    background: #16130b;
  
    error: #ffb4ab;
  
    error-container: #93000a;
  
    inverse-on-surface: #343027;
  
    inverse-primary: #735c0c;
  
    inverse-surface: #eae1d4;
  
    on-background: #eae1d4;
  
    on-error: #690005;
  
    on-error-container: #ffdad6;
  
    on-primary: #3d2f00;
  
    on-primary-container: #ffe08c;
  
    on-primary-fixed: #241a00;
  
    on-primary-fixed-variant: #584400;
  
    on-secondary: #392f15;
  
    on-secondary-container: #f2e1bb;
  
    on-secondary-fixed: #231b04;
  
    on-secondary-fixed-variant: #50462a;
  
    on-surface: #eae1d4;
  
    on-surface-variant: #cfc5b4;
  
    on-tertiary: #19361f;
  
    on-tertiary-container: #c8ecc9;
  
    on-tertiary-fixed: #03210b;
  
    on-tertiary-fixed-variant: #304d34;
  
    outline: #989080;
  
    outline-variant: #4c4639;
  
    primary: #e3c36c;
  
    primary-container: #584400;
  
    primary-fixed: #ffe08c;
  
    primary-fixed-dim: #e3c36c;
  
    scrim: #000000;
  
    secondary: #d5c5a1;
  
    secondary-container: #50462a;
  
    secondary-fixed: #f2e1bb;
  
    secondary-fixed-dim: #d5c5a1;
  
    shadow: #000000;
  
    source-color: #dacaa5;
  
    surface: #16130b;
  
    surface-bright: #3d392f;
  
    surface-container: #231f17;
  
    surface-container-high: #2d2a21;
  
    surface-container-highest: #39342b;
  
    surface-container-low: #1f1b13;
  
    surface-container-lowest: #110e07;
  
    surface-dim: #16130b;
  
    surface-tint: #e3c36c;
  
    surface-variant: #4c4639;
  
    tertiary: #adcfae;
  
    tertiary-container: #304d34;
  
    tertiary-fixed: #c8ecc9;
  
    tertiary-fixed-dim: #adcfae;
  
}